/* reset css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    height: 100vh;
    background-color: #1465BB;
}

main {
    height: 80%;
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
    gap: 20px;
}

.border {
    border: solid 1px red;
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
#pantalla {
    width: 60%;
    height: 20%;
    color: yellow;
    font-size: 72px;
    text-align: center;
    align-content: center;
    border-radius: 25px;
    background-color: grey;
}
#controles {
    width: 60%;
    height: 20%;
    gap: 20px;
    flex-direction: column;
    
}
#botonera {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#descuentaUno { background-color: red; }
#aumentaUno { background-color: green; }
#reinicia { background-color: blue;}
#establecerValor {
    width: 100%;
    height: 100%;
    background-color: #dcdcdc;
    flex-direction: row;
    border-radius: 5px;
    gap: 10px;
}
#estableceValor { background-color: blue; }
input {
    height: 30px;
    font-size: 14px;
    text-align: center;
}
